div.detail__coupon
	div.detail__coupon--txt
		p たきもとコーヒー
		//- p ホットコーヒー Mサイズ
		p
			span 500
			span 円分引換券
		p 使用期限:2021年10月23日23時59分
	div.detail__coupon--img
		img(src="img/app_coupon_coffee.jpeg", alt="クーポン")
p.detail__attention
	|【ご利用上の注意】<br>
	|※ご精算時にクーポン画面を必ずご提示ください。<br>
	|※画面ご提示前のお客様ご自身での操作はおやめください。<br>
	|※お支払いが券面金額未満でもご利用いただけますが、お釣りは出ません。是非、券面金額以上のお買い物にご活用ください。<br>
	|※クーポンのスクリーンショットや印刷での複製はできません。<br>
	|※一会計で同種・異種クーポンの併用はできません。<br>
	|※クーポンをご利用の際Gifcleポイントを貯めることはできません。