nav
	ul
		li.nav__link
			a(href="coupon.html")
				img(src="img/app_icon_coupon.svg")
				span クーポン
		li.nav__link
			a(href="point.html")
				img(src="img/app_icon_shopping.svg")
				span ポイント
		li.nav__link--calendar
			//- .nav__link
			//- .nav__link--calendar
			a(href="calendar.html")
				img(src="img/app_icon_calendar.svg")
				span イベント
		li.nav__link
			a(href="history.html")
				img(src="img/app_icon_gift.svg")
				span ギフト履歴
		li.nav__link
			a(href="account.html")
				img(src="img/app_icon_account.svg")
				span アカウント