doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/account.css")
	body
		header
			h1.app__header アカウント
			a(href="notice.html").account__header--notice
				svg(xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",viewBox="0 0 427.6 455.9",style="enable-background:new 0 0 427.6 455.9;",xml:space="preserve")
					path(d="M415.4,332.3c-28.2-19.6-46.8-52.3-46.8-89.3v-24.7c0-63-37.4-118.8-91.2-144c0.5-3.2,0.8-6.5,0.8-9.8C278.3,28.9,249.4,0,213.9,0s-64.4,28.9-64.4,64.4c0,2.5,0.3,5.1,0.6,7.5c0,0.6,0,1.2,0,1.8c-15.6,7-29.8,16.7-42.1,28.2c-0.9,0.9-1.8,1.8-2.7,2.7c-1.7,1.7-3.5,3.4-5.1,5.2c-1.3,1.4-2.6,2.9-3.8,4.4c-1.2,1.4-2.4,2.7-3.5,4.1c-1.2,1.5-2.3,3.1-3.5,4.6c-1.1,1.5-2.3,3-3.3,4.6c-0.8,1.2-1.6,2.5-2.4,3.7c-1.3,2-2.6,4-3.8,6.1c-0.3,0.6-0.6,1.1-0.9,1.7c-12.6,22.4-19.9,48.2-19.9,75.7v28.2c0,37-18.5,69.7-46.8,89.3C4.5,337.7,0,346.8,0,356.3c0,8.2,3.3,15.6,8.7,21c5.3,5.4,12.8,8.7,21,8.7h100.8c7.1,39.8,41.8,69.9,83.4,69.9c25.6,0,48.4-11.3,63.9-29.2c0.4-0.5,0.8-0.9,1.2-1.3c0.9-1,1.6-2.1,2.4-3.2c0.7-0.9,1.4-1.8,2.1-2.7c0.6-0.8,1-1.6,1.6-2.5c0.8-1.3,1.6-2.5,2.4-3.8c0.4-0.7,0.7-1.4,1.1-2.1c0.8-1.5,1.6-2.9,2.3-4.4c0.3-0.7,0.6-1.4,0.9-2.1c0.7-1.6,1.4-3.1,1.9-4.8c0.2-0.5,0.3-1.1,0.5-1.6c1.3-4,2.4-8,3.2-12.2h100.5c16.4,0,29.7-13.3,29.7-29.7C427.7,346.8,423.2,337.8,415.4,332.3z M213.8,30.2c18.8,0,34,15.2,34.2,33.8c-2.3-0.5-4.6-1-6.9-1.4c-8.9-1.7-18-2.6-27.3-2.6h-2.9c-8.3,0.1-16.4,0.9-24.4,2.4c-2.3,0.4-4.6,0.9-6.9,1.4C179.9,45.2,195.2,30.2,213.8,30.2z M122.9,200.2c-13.7-15-9.2-41.3,9.8-58.6c10.4-9.3,23.1-14.2,34.6-14.2c9.7,0,18.6,3.4,24.8,10.2c13.6,15.1,9.2,41.4-9.9,58.6c-10.4,9.5-22.9,14.2-34.6,14.2C138,210.4,129.1,207,122.9,200.2z")
		main
			div.account__main
				div.account__main--icon
					img(src="img/app_user.svg", alt="アイコン")
					a(href="account_setting.html").account__main--setting
				div
					div.account__main--account
						span ひかり
						|さんは現在<br>
						|ステージ
						span I
						|（会員継続0ヶ月）
					a(href="lank.html").account__main--rank ランクシステムとは？
			div.account__warning
				a(href="gift_1.html").account__warning--txt 受け取っていないギフトがあります
				a(href="coupon_detail_1.html").account__warning--txt 使用期限の近いクーポンがあります
			div.account__guide
				img(src="img/app_flow_bunner.png", alt="Gifcleのつかい方")
			div.account__setting
				div 登録メールアドレス変更
				div パスワード変更
				div お支払い方法変更
			div.account__setting
				div よくある質問
				div お問い合わせ
			div.account__setting
				div 退会
			section.account__modal
				h2.account__modal--headline Gifcleのつかい方
				div.account__modal--img
					img()
				div.account__modal--txt
				div.account__modal--page
					div
					div
					div
					div
				div.account__modal--link
			div.account__modal--bg
		include _nav.pug
		script(src="js/common.js")
		script(src="js/account.js")