doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/coupon.css")
	body
		header
			h1.app__header 使用済みクーポン
		main.favorite__wrap
			a(href="coupon_detail_2.html").favorite__btn
				div.favorite__btn--icon
					svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 319.28 279.38")
						path(d="M159.64,279.38,24.8,144.54A84.67,84.67,0,0,1,144.54,24.8l15.1,15.09L174.73,24.8A84.67,84.67,0,1,1,294.48,144.54Z",transform="translate(0)").cls-1
				div
					p スターバックスコーヒー
					p 500円分引換券
			a(href="coupon_detail_2.html").favorite__btn
				div.favorite__btn--icon
					svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 319.28 279.38")
						path(d="M159.64,279.38,24.8,144.54A84.67,84.67,0,0,1,144.54,24.8l15.1,15.09L174.73,24.8A84.67,84.67,0,1,1,294.48,144.54Z",transform="translate(0)").cls-1
				div
					p スターバックスコーヒー
					p 500円分引換券
			a(href="coupon_detail_2.html").favorite__btn
				div.favorite__btn--icon
					svg(xmlns="http://www.w3.org/2000/svg",viewBox="0 0 319.28 279.38")
						path(d="M159.64,279.38,24.8,144.54A84.67,84.67,0,0,1,144.54,24.8l15.1,15.09L174.73,24.8A84.67,84.67,0,1,1,294.48,144.54Z",transform="translate(0)").cls-1
				div
					p スターバックスコーヒー
					p 500円分引換券
		script(src="js/common.js")