doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/coupon.css")
	body
		header
			h1.app__header.app__header--back 使用済みクーポン
		main.hisory__wrap
			a(href="coupon_detail_3.html").hisory__btn
				p スターバックスコーヒー
				p 500円分引換券
				p 使用日:2021年7月21日
			a(href="coupon_detail_3.html").hisory__btn
				p スターバックスコーヒー
				p 500円分引換券
				p 使用日:2021年4月10日
			a(href="coupon_detail_3.html").hisory__btn
				p スターバックスコーヒー
				p 500円分引換券
				p 使用日:2021年1月1日
	script(src="js/common.js")
	script(src="js/back.js")