doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/coupon.css")
	body
		header
			h1.app__header.app__header--back クーポン
		main.favorite__wrap
			include _coupon_set.pug
			div.detail__apply
				div.detail__apply--2 クーポンを交換する
				div.detail__apply--1 このクーポンはまだ獲得していません
		script(src="js/common.js")
		script(src="js/useCoupon_2.js")