doctype html
html(lang="ja")
	head
		include _head.pug
		link(rel="stylesheet", href="css/gift.css")
	body
		header
			h1.app__header.app__header--back 送り先を探す
		main.gift__wrap--2
			div.gift__step STEP.1
			p.gift__txt
				|いまギフトを贈りたいのは<br>
				|どんな感情を抱えている相手ですか？
			div.gift__category
				div
					img(src="img/app_category_1.svg", alt="お祝い")
				div
					img(src="img/app_category_2.svg", alt="励まし")
				div
					img(src="img/app_category_3.svg", alt="寄り添い")
			form.gift__check
				input(type="checkbox",name="level",value="ok").gift__check--checkBox
				span 指定しない
			a(href="gift_2_2.html").gift__search--1 サーチ
			div.gift__circle
				div
				div
			div.gift__pass 探すのをやめ、パスする
		script(src="js/common.js")
		script(src="js/gift_2_1.js")